h1 {
    color: #006d77;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 422px;
    padding: 1em;
    border: 4px solid #e29578;
    border-radius: 1em;
    background-color: #ffddd2;
}

 body {
    background-color: #edf6f9;
}



